name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: [ '8.0' ]

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ matrix.dotnet-version }}

    - name: Restore
      run: dotnet restore TextPacketBuilder.sln

    - name: Build
      run: dotnet build TextPacketBuilder.sln --no-restore --configuration Release

    - name: Test
      run: dotnet test Tests/Tests.csproj --no-build --verbosity normal
